<div class="container">
    <div class="row mt-5" *ngIf="category">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Инвормация о категории
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{category.id}}</li>
                    <li class="list-group-item"><b>Title </b>{{category.cat_title|json}}</li>

                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                            class="fas fa-arrow-alt-circle-left"></i> назад </button>
                </div>
            </div>

        </div>
    </div>
</div>