<div class="container" *ngIf="category">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="cat_title">Категория: </label>
                    <input type="text" class="form-control" id="cat_title" name="cat_title" [(ngModel)]="category.cat_title"
                        required autocomplete="off">
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-edit"></i> Обновить</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> назад </button>
            </form>
        </div>
    </div>
</div>