<div class="container">
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-content>
                            <a class="nav-link" routerLink="/assortment/"><i class="far fa-list-alt"></i> все товары </a>    
                    </mat-card-content>
              </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-content>
                        <a class="nav-link" routerLink="/provider/"><i class="fa fa-compress"></i> поставщики </a>
                    </mat-card-content>
              </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-content>
                        <a class="nav-link" routerLink="/worker/"><i class="fa fa-users"></i> работники </a>
                    </mat-card-content>
              </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-content>
                        <a class="nav-link" routerLink="/category/"><i class=" fa fa-th-large"></i>⠀категории⠀</a>
                    </mat-card-content>
              </mat-card>
            </div>     
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="8:1">
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-content>
                        <a class="nav-link" routerLink="/shop/"><i class=" fa fa-shopping-bag"></i> магазины </a>
                    </mat-card-content>
              </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-grid-tile-footer>
        <mat-grid-tile>5</mat-grid-tile>
    </mat-grid-tile-footer> -->


</div>

