<div class="container">
    <div class="row mt-5" *ngIf="assortment">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Информация о товаре 
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{assortment.id}}</li>
                    <li class="list-group-item"><b>Item: </b>{{assortment.item}}</li>
                    <li class="list-group-item"><b>Price </b>{{assortment.price}}€</li>
                    <li class="list-group-item">
                        <b>Provider:</b>
                        <div  class="list-group-item" style="margin-left: 20px" *ngFor="let data of keys">
                            <span >{{data}}: </span>
                            <span>{{assortment.provider[data]}}</span>
                        </div>
                    </li>
                    <li class="list-group-item"><b>Category: </b>{{assortment.category.cat_title | json }}</li>

                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                            class="fas fa-arrow-alt-circle-left"></i> назад </button>
                </div>
            </div>

        </div>
    </div>
</div>