<div class="container" *ngIf="provider">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="provider.name"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="country">country</label>
                    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="provider.country"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="contact">contact</label>
                    <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="provider.contact"
                        required autocomplete="off">
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-edit"></i> Обновить </button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> назад </button>
            </form>
        </div>
    </div>
</div>