<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="#">ТВОЙ МЯСНОЙ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="category/create"><i class=" fas fa-plus-circle"></i> добавить категорию </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="provider/create"><i class=" fas fa-plus-circle"></i> добавить поставщика </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="assortment/create"><i class="fas fa-plus-circle"></i> добавить товар</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="worker/create"><i class="fas fa-plus-circle"></i> добавить работника</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop/create"><i class=" fas fa-plus-circle"></i> добавить магазин </a>
      </li>
      
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<div>
    <img src="https://static.tildacdn.com/tild6537-6333-4330-a631-656635656134/116-118.jpg" id="leftImg">
    <img src="https://static.tildacdn.com/tild3965-6663-4832-b339-623530663664/-113.jpg" id="rightImg">

</div>

